*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  width: 800px;
}
.post__btns {
  display: flex;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content:space-between;
  align-items: center;
}
.current {
  border: 2px solid orange !important;
}
.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightgray;
}
.navbar__items {
  margin-right: auto;
}